/**
*   ToolNav CSS file
*
*   Among other styling, ToolNav takes
*   advantage of Bootstrap 4 styling.   
*/

.ToolNav {
    margin: 0;
    padding: 0;
}
.ToolNav img {
    height: 50px;
}

.ToolNav ul {
    background-color: #0741ad;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 60px;
}
.ToolNav ul li {

    /* vertically center */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* horizantal list */
    float: left;

    margin-left: 10px;
}
.ToolNav ul li:last-child {
    float: right;
    margin-right: 15px;
}
.btn-primary {
    background-color: #0741ad;
    border-color: #0741ad;
    color: #d8e0f2;
}
.dropdown-container {
    position: relative;
    z-index: 1000;
}
/* .dropdown {
     margin-top: 30%;
    transform-style: preserve-3d;
    transform: translate3d(0,38px,0) !important;
 }
 .dropdown-menu{
     height: auto !important;
     overflow: hidden;
     position: fixed !important;
     z-index: 1000;
     transform-style: preserve-3d;
     transform: translate3d(0,38px,0) !important;
 } */
