/**
*   ToolMain CSS file 
*/

/* .ToolMain {
    height: 100vh;
} */

.ToolMainWindow {
    /* margin-top: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */

    /* height: 800px; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
}