/**
*   ToolMain CSS file 
*/

.ToolMain {
    height: 1000px;
}

.ToolMainWindow {
    margin-top: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    /* height: 800px; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* background-color: white; */
}