/* Root Container for Home page */
/* .header-container { } */

/*---------------------------------------------
*  Nav bar -- START
* ---------------------------------------------*/
#container-nav {
    margin-left: auto;
    max-width: 2560px;
    padding-top: 25px;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
#container-nav ul {
    list-style-type: none;
}
.navBar-left {
    display: inline;
}
.navBar-left li {
    float: left;
}
#dev-info {
    float: right;
}
#get-started {
    padding-right: 50px;
    border-right: solid 1px #ecf0f1;
    margin-right: 50px;
}
#container-nav ul li a {
    font-family: monospace;
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #ecf0f1;
    transition: 0.75s;
}
#container-nav ul li a::after { /* hover effects */
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    background: #3590d5;
    transition: transform 0.75s;
    transform: scaleX(0);
    transform-origin: center;
}
#container-nav ul li a:hover { /* hover effects */
    color: #3590d5;
    cursor: pointer;
}
#container-nav ul li a:hover::after { /* hover effects */
    transform: scaleX(1);
    transform-origin: center;
}
/*---------------------------------------------
*  Nav bar -- END
* ---------------------------------------------*/



/*---------------------------------------------
*  Image -- Start
* ---------------------------------------------*/
.header-mountain-pic {
    width: 100%;
    object-fit: cover;
}
.top-header-container {
    margin: 0 auto;
}
/*---------------------------------------------
*  Image -- END
* ---------------------------------------------*/


/*---------------------------------------------
* Other sections -- START
* ---------------------------------------------*/
.about-content, .dev-info-content {
    width: 50%;
    margin: auto;
    font-size: 15px;
    line-height: 200%;
}
#about-header {
    text-align: center;
    overflow: hidden;
}
#dev-info-header {
    text-align: center;
    overflow: hidden;
    margin-top: 40px !important;
}
hr {
    height: 3px;
    width: 50%;
    margin-left: 25% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
h2 {
    margin: 100px 100px 0 100px;
    font-size: 75px !important;
    font-family: monospace;
}
h3 {
    font-size: 25px !important;
}
/*---------------------------------------------
*  Other sections -- END
* ---------------------------------------------*/

.schema-viewer pre:not([class]){
    font-size: 0px;
}