/**
*   Profile Tabs CSS file.
*/

.nav-tabs .tab {
    background-color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    margin-bottom: -9px;
}
.nav-tabs .active {
    border-top: 3px solid #0741ad;
}
.add-tab-li {
    border-top: 3px solid #0741ad;
    background-color: #0741ad;
    padding: 0px;
    margin-right: 5px;
    border-bottom: 3px solid 0741ad;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 30px;
    height: 25px;
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    line-height: 17px;
}
.add-tab-li:hover {
    border-top: 3px solid #0741ad;
    background-color: white;
    color: #ad7307;
}

.delete-btn {
    margin-left: 5px;
    /* padding: 0px; */
    /* border: 1px solid red; */
}
.delete-btn span {
    /* border: 1px solid red; */
    /* position: relative; */
    /* height: 10px; */
}

.tabs-content {
    padding: 20px;
    overflow: auto;
    background-color: white;
}
.request-method-select {
    width: 12%;
    font-size: 12px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 2%;
}
.request-url {
    width: 35%;
    display: inline-block;
    margin-right: 5px;
}
.send-btn {
    position: relative;
    top: 27px;
    float: right;
    /* border: 2px solid purple; */
    /* margin: 0 auto; */
}
.send-btn > button {
    color: white;
}
#request-header {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}
#response-header {
    width: 49%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}