/**
*   Request Tabs CSS file. For request header/body editing windows.
*/

/**
* default values -- for debugging
*/
.tab-list {  
    border-bottom: 1px solid rgb(141, 141, 141);
    padding-left: 0;
    margin-bottom: 0px;
}
.tab-list-item {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}
.tab-list-active {
    background-color: rgb(216, 216, 216);
    border: solid rgb(141, 141, 141);
    border-width: 1px 1px 0 1px;
}
.tab-list-item label {
    cursor: pointer;
    margin-bottom: 0px;
}

.tabs-request {
    height: 480px;
    margin-top: 10px;
    width: 49%;
    margin-right: 2%;
    float: left;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.034),
        0 3px 2px rgba(0, 0, 0, 0.048),
        0 6px 5px rgba(0, 0, 0, 0.06),
        0 10px 9px rgba(0, 0, 0, 0.072),
        0 10px 7px rgba(0, 0, 0, 0.034),
        0 10px 10px rgba(0, 0, 0, 0.034);
    
}
.tabs-request > .tab-list {
    background-color: #0741ad;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 0px;
    margin: 0px;
}
.tabs-request > .tab-list:first-child {
    padding-left: 5px;
}
.tabs-request  > .tab-list > .tab-list-item {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    border: 0;
    margin: 0px;
    background-color: #0741ad;


    height: 100%;
    text-align: center;
    width: 45px;
    font-size: 10px;
    color: white;
}
.tabs-request  > .tab-list > .tab-list-item > label {
    cursor: pointer;
    margin-bottom: 0px;
}
.tabs-request > .tab-list > .tab-list-active {
    border-bottom: 4px solid #ad7307;
}

.tab-content .CodeMirror {
    box-sizing: content-box;
    height: 480px !important;
    /* border: 1px solid lightgray; */
}

.CodeMirror-scroll {
    /* padding-bottom: 0 !important; */
}