/**
*   Response Tabs CSS file. For response header/body viewing windows.
*/

/**
* default values -- for debugging
*/
.tab-list {  
    border-bottom: 1px solid rgb(141, 141, 141);
    padding-left: 0;
    margin-bottom: 0px;
}
.tab-list-item {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}
.tab-list-active {
    background-color: rgb(216, 216, 216);
    border: solid rgb(141, 141, 141);
    border-width: 1px 1px 0 1px;
}
.tab-list-item label {
    cursor: pointer;
    margin-bottom: 0px;
}

.tabs-response {
    height: 100%;
    margin-top: 10px;
    width: 49%;
    float: left;
}
.tabs-response > .tab-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #0741ad;
    border-left: 3px solid #0741ad;
    border-right: 3px solid #0741ad;
    padding: 3px;
}
.tabs-response > .tab-list {
    background-color: #0741ad;
    border: 0px;
    margin: 0px;
}
.tabs-response > .tab-list:first-child {
    padding-left: 5px;
}
.tabs-response  > .tab-list > .tab-list-item {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
    border: 0;
    margin: 0px;
    background-color: #0741ad;


    height: 100%;
    text-align: center;
    width: 45px;
    font-size: 10px;
    color: white;
}
.tabs-response > .tab-list > .tab-list-active {
    border-bottom: 4px solid #ad7307;
}