/* spinner -- note: size is determined in 'LoadingAnimation.js' */
.LA {
    position: relative;
    bottom: 350px;
}

/* container for spinner */
.text-center {
    display: none;
    height: 530px;
    position: relative;
    margin-left: 51%;
    background-color: white;
    z-index: 50;
}