/* spinner -- note: size is determined in 'LoadingAnimation.js' */
.LA {
    position: relative;
    bottom: 250px;
}

/* container for spinner */
.text-center {
    display: none;
    height: 348px;
    position: relative;
    margin-left: 51%;
    background-color: white;
    z-index: 50;
}