.new-case-container {
    min-width: 1000px;
}
.case-item {
    width: 100%;
    border-top: 1px solid lightgray;
    height: 60px;
}
.case-item li {
    float: left;
    /* border: 1px solid green; */
    height: 100%;
    padding-top: 18px;
}
.case-item:hover {
    background-color: #eaf3fc;
    cursor: pointer;
}
.case-item li label {
    display: block;
    font-size: 15px;
}
.case-item li label:hover {
    cursor: pointer;
}
.case-item ul {
    list-style-type: none;
    /* border: 1px solid red; */
    width: 100%;
    padding-left: 0px;
    height: 100%;
}
.li-name {
    padding-left: 15px;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.li-url {
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.li-method {
    width: 10%;
}
.li-method label {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 70px;
}

.li-edit {
    padding-right: 18px;
    padding-top: 10px !important;
    /* margin-left: 500px; */
    width: 41%;
}
.li-edit button {
    float: right;
}
.li-run {
    text-align: center;
    min-width: 40px;
    padding-top: 10px !important;
    width: 4%;
}

/* Run button */
.li-run button {
    margin-left: auto;
    margin-right: auto;
}

/* loading spinner container */
.li-run div {
    padding-top: 5px;
}

.li-pass {
    text-align: center;
    min-width: 40px;
    display: none;
    width: 4%;
    padding-top: 8px !important;
}
.li-pass button {
    padding-top: 5px;
}
.li-fail {
    text-align: center;
    width: 4%;
    min-width: 40px;
    display: none;
    padding-top: 10px !important;
}

.case-list {
    width: 90%;
    margin-left: 5%;
    /* border: 1px solid blue; */
}

.case-search {
    /* border: 1px solid purple; */
    padding-top: 3px;
    max-width: 95%;
    padding-right: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    margin-left: 75%; */
}
.run-all-container {
    /* position: absolute;
    right: 330px; */
    /* border: 1px solid green; */
    padding-left: 5px;
    /* padding-top: 3px; */
    width: 5%;
    min-width: 110px;
}
#SLA_run-all-cases-spnr {
    position: relative;
    /* float: left; */
    
    top: 20px;
}
#run-all-cases-spnr {
    text-align: center;
}
.td-spacer {
    width: 75%;
}
.view-cases-table-header {
    /* border: 1px solid red; */
    width: 90%;
    margin-left: 5%;
    height: 70px;

}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search {
    margin-bottom: 0px;
    width: 330px;
    float: right;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 50;
    display: block;
    width: 2.375rem;
    top: 135px;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
}