/**
*   NewCaseForm CSS file 
*/

.new-case-window {
    margin-top: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
}

.new-case-method-select {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.new-case-method-select select {
    max-width: 200px;
}

.new-case-submit {
    margin-top: 40px;
    width: 20%;
    position: absolute;
    top: 520px;
    margin-left: 70%;
}
.new-case-submit button {
    color: white;
    float: right;
}