/**
*   NewCaseForm CSS file 
*/

.css-1w253tv {
    /* border: 1px solid red !important; */
}

.new-case-window {
    margin-top: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
}

.new-case-form-table {
    border-top: 1px solid lightgray;
}

.new-case-method-select {
    /* padding-bottom: 40px; */
    /* margin-bottom: 40px; */
    /* border-bottom: 1px solid lightgray; */
}
.check-options-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid lightgray; */
}

.new-case-method-select select {
    max-width: 200px;
}

.new-case-submit {
    /* margin-top: 40px;
    width: 20%;
    position: absolute;
    top: 387px;
    margin-left: 70%; */
    float: right;
}
.new-case-submit button {
    color: white;
    /* float: right; */
}

.delete-case-submit {
    /* margin-top: 40px;
    width: 20%;
    position: absolute;
    top: 387px;
    margin-left: 70%; */
    float: right;
    margin-right: 5px;
}
.edit-buttons {
    position: absolute;
    top: 428px;
    right: 5%;
    width: 150px;
}