.case-window {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.no-results-ul {
    list-style: none;
    margin-left: 20px;
    padding-left: 0px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.case-window table {
    /* position: absolute; */
    /* top: 60px; */
    width: 100%;
}
.case-info-table td {
    /* border: 1px solid red; */
}
.case-info-table .td-pass button {
    padding: 5px;
}
.info-table-edit-btn {
    text-align: right;
    width: 10%;
}
.case-info-table .td-run {
    text-align: right;
    /* width: 45px; */
    width: 5%;
}
.case-info-table .td-run button {
    float: right;
    /* margin-right: 0px !important; */
    /* display: none; */
}
.status-container {
    /* padding-left: 90%; */
    position: absolute;
    top: 130px;
    /* border: 1px solid green; */
    width: 90%;
    text-align: right;
}
.status-container label {
    font-size: 30px;
    /* float: right; */
    /* display: none; */
    /* margin-left: 90%;
    margin-bottom: 0px; */
}
.case-info-table .SLA-container {
    /* display: block; */
    height: 20px !important;
    margin-right: 9px;
}
.status-container button {
    /* float: right; */
    display: none;
    height: 30px;
}
.td-fail {
    display: none;
    z-index: 60;
}
.td-pass {
    display: none;
    z-index: 60;
}
.case-info-table tbody tr {
    /* width: 50%; */
    border-bottom: 1px solid lightgrey;
}
.info-table-method {
    width: 120px !important;
    padding-top: 10px;
    /* border: 1px solid red; */
}
.info-table-method label {
    font-size: 20px;
}
.case-info-table {
    /* border: 1px solid blue; */
    width: 90%;
    table-layout: fixed;
}
.info-table-url {
    /* display: inline; */
    /* width: 10% !important; */
    width: 60%;
    /* width: 10px !important; */
    font-size: 20px;
    /* border: 1px solid green; */
}
.info-table-url > div {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
.info-table-url label {
    font-size: 40px;
}

.case-window table tr {
    width: 100%;
}
.view-header-body {
    /* height: 320px; */
    width: 50%;
}
.view-header-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.react-codemirror2 {
    border: 1px solid lightgray;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.034),
        0 3px 2px rgba(0, 0, 0, 0.048),
        0 6px 5px rgba(0, 0, 0, 0.06),
        0 10px 9px rgba(0, 0, 0, 0.072),
        0 10px 7px rgba(0, 0, 0, 0.034),
        0 10px 10px rgba(0, 0, 0, 0.034);
}