.case-window {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.case-window table {
    /* position: absolute; */
    /* top: 60px; */
    width: 100%;
}
.case-info-table tbody tr {
    /* width: 50%; */
    border-bottom: 1px solid lightgrey;
}
.info-table-method {
    width: 20% !important;
    padding-top: 10px;
}
.info-table-method label {
    font-size: 20px;
}
.info-table-url {
    width: 80% !important;
    font-size: 20px;
}
.info-table-url label {
    font-size: 40px;
}

.case-window table tr {
    width: 100%;
}
.view-header-body {
    /* height: 320px; */
    width: 50%;
}
.view-header-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.react-codemirror2 {
    border: 1px solid lightgray;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}