.numbered-text-area-givenRequestHeader {
    /* border: 1px solid red; */
    /* width: 30%; */
    /* float: left; */
    margin-top: 20px;
    margin-right: 20px;
}
.numbered-text-area-givenRequestBody {
    /* border: 1px solid green; */
    /* width: 30%; */
    /* float: right; */
    margin-top: 20px;
    margin-left: 20px;
}
.numbered-text-area-expectedResponseHeader {
    /* border: 1px solid yellow; */
    /* width: 30%; */
    /* float: left; */
    margin-top: 20px;
    margin-right: 20px;
}
.numbered-text-area-expectedResponseBody {
    /* border: 1px solid purple; */
    /* width: 30%; */
    /* float: right; */
    margin-top: 20px;
    margin-left: 20px;
}

.new-case-form-table {
    width: 100%;
}
.new-case-form-table tr {
    width: 100%;
}
.new-case-form-table td {
    width: 50%;
}

.editor-title {
    padding:3px;
    padding-left: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    color: white;
    background-color: #0741ad;
}

#mode-dropdown-text-area {
    position: relative;
    z-index: 50;
    float: right;
    bottom: 324.5px;
    right: 6px;
    font-size: 10px;
}

.new-case-form-table .react-codemirror2 {
    border: 1px solid lightgrey;
    /* box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); */
}
/* .numbered-text-area-view-header-body {
    border: 3px solid #0741ad;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
} */