.numbered-text-area-givenRequestHeader {
    /* border: 1px solid red; */
    /* width: 30%; */
    /* float: left; */
    margin-right: 2.5%;
}
.numbered-text-area-givenRequestBody {
    /* border: 1px solid green; */
    /* width: 30%; */
    /* float: right; */
    margin-left: 2.5%;
}
.numbered-text-area-expectedResponseHeader {
    /* border: 1px solid yellow; */
    /* width: 30%; */
    /* float: left; */
    margin-top: 12px;
    margin-right: 2.5%;
}
.numbered-text-area-expectedResponseBody {
    /* border: 1px solid purple; */
    /* width: 30%; */
    /* float: right; */
    margin-top: 12px;
    margin-left: 2.5%;
}

.new-case-form-table {
    width: 100%;
}
.new-case-form-table tr {
    width: 100%;
}
.new-case-form-table td {
    width: 50%;
}

.editor-title {
    padding:3px;
    padding-left: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    color: white;
    background-color: #0741ad;
}

#mode-dropdown-text-area {
    position: relative;
    z-index: 50;
    float: right;
    bottom: 324.5px;
    right: 6px;
    font-size: 10px;
}

.new-case-form-table .react-codemirror2 {
    border: 1px solid lightgrey;
}