.page-header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60px;
    padding-top: 16px;
    border-bottom: 1px solid lightgrey;
}

.page-header > h4 {
    margin: 0px;
    /* font-weight: normal; */
	/* font-family: 'Ultra', sans-serif; */
    /* -webkit-font-smoothing: antialiased; */
    /* font-size: 1.75em; */
    /* font-weight: 600; */
    color: #303030;
}