.page-header {
    /* margin-top: 10px; */
    /* background-color: #0741ad; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    /* height: 200px; */
    /* padding-top: 16px; */
    /* border-bottom: 3px solid #0741ad; */
    overflow: hidden;
    /* box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 20.8px 15.4px rgba(0, 0, 0, 0.086),
        0 1px 1px rgba(0, 0, 0, 0.12),
        0 -2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 -6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 -12.5px 10px rgba(0, 0, 0, 0.06),
        0 -22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 -20.8px 15.4px rgba(0, 0, 0, 0.086),
        0 -1px 1px rgba(0, 0, 0, 0.12); */
}

.page-header-pic {
    object-fit: contain;
    /* height: 100px; */
    width: 100%;
}

.page-header > h4 {
    /* position: absolute; */
    /* top: 160px; */
    margin-left: 5%;
    z-index: 70;
    font-weight: 900;
    /* font-weight: normal; */
	/* font-family: 'Ultra', sans-serif; */
    /* -webkit-font-smoothing: antialiased; */
    font-size: 3em;
    /* font-weight: 600; */
    /* color: black; */
}