/* #request-window .CodeMirror {
    border: 1px solid grey;
    min-width: 49%;
    float: left;
    margin-right: 3%;
} */

/* .editor-seperator {
    width: 6%;
} */

/* #response-window .CodeMirror {
    border:1px solid grey;
    width: 49%;
    margin-left: 3%;
}  */