.case-details-container {
    width: 90%;
    margin-left: 5%;
}

.case-details-container label {
    font-size: 20px;
}

.case-details-container h3 {
    /* font-size: 40px !important; */
    margin-bottom: 15px;
}

#case-details-status {
    margin-bottom: 10px;
}

#case-details-diff {
    /* font-size: 8px; */
    /* line-height: 8px; */
}
