.Collapsible__trigger {
    /* background-color: #0741ad; */
    /* color: white; */
    display: inline-block;
    width: 100%;
    /* height: 60px; */
    /* font-size: 20px; */
    /* padding: 10px; */
}
.Collapsible__trigger button {
    width: 100%;
    font-size: 20px;
    text-align: left;
}

.Collapsible__trigger button::after {
    float: left;
    margin-top: 13px;
    margin-right: 13px;
}

.schema-errors {
    padding: 10px;
}
