.suite-details-container {
    width: 90%;
    margin-left: 5%;
}
.suite-details-container h2 {
    margin: 0px 10px 0px 0px !important;
    font-size: 25px !important;
    font-family: monospace !important;
    display: inline;
}

.details-pass-small {
    display: none;
}
.details-fail-small {
    display: none;
}

.details-case-box {
    border: 1px solid red;
}

.details-status {
    margin-left: 5%;
    font-size: 27px;
    /* width: 110px; */
}
.details-suite-name {
    font-size: 25px;
}

#details-status-message {
    margin-bottom: 0px;
}